{{define "footer"}}
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<hr>
				<small class="text-muted">Copyright © 2023 by <a href="https://github.com/yaonur">yaonur</a></small>
			</div>
		</div>
	</div>
{{end}}